
<h2 class="bg-primary">Add New User</h2>

<!--
<form [formGroup]="AddUserForms" (ngSubmit)="SaveNewUser()"  class="row loginPageCss">

    <div class="col-md-3">
        login ID: <input type="text" class="form-control" width="180px" required  formControlName="txtUserId"/>
    </div> <br>
    <div class="col-md-3">
        Passowrd: <input type="password" class="form-control" width="180px" required formControlName="txtPassword"/>
    </div>
    <br> -->
    <!-- <div class="col-md-3">
      <! [disabled]="!AddUserForms.valid"
        <button  name="btnSave" class="btn-primary" id="btnSave"  >Add New User</button>
    </div> -->

<!-- </form> -->

<button  name="btnSave" (click)="SaveNewUser()" class="btn-primary" id="btnSave"  >Add New User</button>
